<!-- <p>selecteditem works!</p>
  <h1>my item</h1>
  <h2>Name:{{itemname}}</h2>
  <h2>price:{{itemprice}}</h2>
  <h2>avaliable:{{isavaliable}}</h2> -->
  <p>selecteditem works!</p>  
<div class="card m-4">
    <div class="card-header">
        selected item
    </div>
    <blockquote class="blockquote md-0" >
        <p>Name: <strong>{{itemname}}</strong></p>
        <p>price: <strong>{{itemprice}}</strong></p>
        <p>avaliable: <strong>{{isavaliable}}</strong></p>

    </blockquote>

</div>   